.product-grid{
    height: 90vh;
    overflow-y: auto;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.card .card-header{
height: 10rem;
}
.card .card-bottom{
    height:auto;
}
#product-card{
    height:20rem;
}